@font-face {
    font-family: "flaticon_lens";
    src: url("./flaticon_lens.ttf?36eb6c7badc17fd58a93f9b3fa1135c9") format("truetype"),
url("./flaticon_lens.woff?36eb6c7badc17fd58a93f9b3fa1135c9") format("woff"),
url("./flaticon_lens.woff2?36eb6c7badc17fd58a93f9b3fa1135c9") format("woff2"),
url("./flaticon_lens.eot?36eb6c7badc17fd58a93f9b3fa1135c9#iefix") format("embedded-opentype"),
url("./flaticon_lens.svg?36eb6c7badc17fd58a93f9b3fa1135c9#flaticon_lens") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_lens !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pyramid:before {
    content: "\f101";
}
.flaticon-eye:before {
    content: "\f102";
}
.flaticon-film:before {
    content: "\f103";
}
.flaticon-film-1:before {
    content: "\f104";
}
.flaticon-clapperboard:before {
    content: "\f105";
}
.flaticon-television:before {
    content: "\f106";
}
