$flaticon_lens-font: "flaticon_lens";

@font-face {
    font-family: $flaticon_lens-font;
    src: url("./flaticon_lens.ttf?6102e05fde04d72db0916ccd2f354c7d") format("truetype"),
url("./flaticon_lens.woff?6102e05fde04d72db0916ccd2f354c7d") format("woff"),
url("./flaticon_lens.woff2?6102e05fde04d72db0916ccd2f354c7d") format("woff2"),
url("./flaticon_lens.eot?6102e05fde04d72db0916ccd2f354c7d#iefix") format("embedded-opentype"),
url("./flaticon_lens.svg?6102e05fde04d72db0916ccd2f354c7d#flaticon_lens") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_lens !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_lens-map: (
    "remove": "\f101",
    "drag": "\f102",
    "delete": "\f103",
    "info": "\f104",
    "plus": "\f105",
    "visible-opened-eye-interface-option": "\f106",
    "lens": "\f107",
    "lens-1": "\f108",
);

.flaticon-remove:before {
    content: map-get($flaticon_lens-map, "remove");
}
.flaticon-drag:before {
    content: map-get($flaticon_lens-map, "drag");
}
.flaticon-delete:before {
    content: map-get($flaticon_lens-map, "delete");
}
.flaticon-info:before {
    content: map-get($flaticon_lens-map, "info");
}
.flaticon-plus:before {
    content: map-get($flaticon_lens-map, "plus");
}
.flaticon-visible-opened-eye-interface-option:before {
    content: map-get($flaticon_lens-map, "visible-opened-eye-interface-option");
}
.flaticon-lens:before {
    content: map-get($flaticon_lens-map, "lens");
}
.flaticon-lens-1:before {
    content: map-get($flaticon_lens-map, "lens-1");
}
