$flaticon_lens-font: "flaticon_lens";

@font-face {
    font-family: $flaticon_lens-font;
    src: url("./flaticon_lens.ttf?f636eb545a55c24529c4aaf1a94f7d79") format("truetype"),
url("./flaticon_lens.woff?f636eb545a55c24529c4aaf1a94f7d79") format("woff"),
url("./flaticon_lens.woff2?f636eb545a55c24529c4aaf1a94f7d79") format("woff2"),
url("./flaticon_lens.eot?f636eb545a55c24529c4aaf1a94f7d79#iefix") format("embedded-opentype"),
url("./flaticon_lens.svg?f636eb545a55c24529c4aaf1a94f7d79#flaticon_lens") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_lens !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_lens-map: (
    "pyramid": "\f101",
    "eye": "\f102",
    "film": "\f103",
    "film-1": "\f104",
    "clapperboard": "\f105",
    "television": "\f106",
    "remove": "\f107",
    "info": "\f108",
    "add-sign": "\f109",
    "arrow-up": "\f10a",
);

.flaticon-pyramid:before {
    content: map-get($flaticon_lens-map, "pyramid");
}
.flaticon-eye:before {
    content: map-get($flaticon_lens-map, "eye");
}
.flaticon-film:before {
    content: map-get($flaticon_lens-map, "film");
}
.flaticon-film-1:before {
    content: map-get($flaticon_lens-map, "film-1");
}
.flaticon-clapperboard:before {
    content: map-get($flaticon_lens-map, "clapperboard");
}
.flaticon-television:before {
    content: map-get($flaticon_lens-map, "television");
}
.flaticon-remove:before {
    content: map-get($flaticon_lens-map, "remove");
}
.flaticon-info:before {
    content: map-get($flaticon_lens-map, "info");
}
.flaticon-add-sign:before {
    content: map-get($flaticon_lens-map, "add-sign");
}
.flaticon-arrow-up:before {
    content: map-get($flaticon_lens-map, "arrow-up");
}
