@font-face {
    font-family: "flaticon_lens";
    src: url("./flaticon_lens.ttf?6102e05fde04d72db0916ccd2f354c7d") format("truetype"),
url("./flaticon_lens.woff?6102e05fde04d72db0916ccd2f354c7d") format("woff"),
url("./flaticon_lens.woff2?6102e05fde04d72db0916ccd2f354c7d") format("woff2"),
url("./flaticon_lens.eot?6102e05fde04d72db0916ccd2f354c7d#iefix") format("embedded-opentype"),
url("./flaticon_lens.svg?6102e05fde04d72db0916ccd2f354c7d#flaticon_lens") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_lens !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-remove:before {
    content: "\f101";
}
.flaticon-drag:before {
    content: "\f102";
}
.flaticon-delete:before {
    content: "\f103";
}
.flaticon-info:before {
    content: "\f104";
}
.flaticon-plus:before {
    content: "\f105";
}
.flaticon-visible-opened-eye-interface-option:before {
    content: "\f106";
}
.flaticon-lens:before {
    content: "\f107";
}
.flaticon-lens-1:before {
    content: "\f108";
}
