@font-face {
    font-family: "flaticon_lens";
    src: url("./flaticon_lens.ttf?f5b544415ab23e038415e6d78c64ab70") format("truetype"),
url("./flaticon_lens.woff?f5b544415ab23e038415e6d78c64ab70") format("woff"),
url("./flaticon_lens.woff2?f5b544415ab23e038415e6d78c64ab70") format("woff2"),
url("./flaticon_lens.eot?f5b544415ab23e038415e6d78c64ab70#iefix") format("embedded-opentype"),
url("./flaticon_lens.svg?f5b544415ab23e038415e6d78c64ab70#flaticon_lens") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_lens !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-pyramid:before {
    content: "\f101";
}
.flaticon-eye:before {
    content: "\f102";
}
.flaticon-film:before {
    content: "\f103";
}
.flaticon-film-1:before {
    content: "\f104";
}
.flaticon-clapperboard:before {
    content: "\f105";
}
.flaticon-television:before {
    content: "\f106";
}
.flaticon-delete:before {
    content: "\f107";
}
