@import '../scss/colors.scss';
@import '../scss/font.scss';

#home {
    background-color: $azul-escuro;
    background-size: cover;
    height: 100vh;
}

.home {
    .home__logo {
        display: block;
        margin-top: 15vw;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }

    .home__link {
        margin-top: 4vw;
        display: block;
        text-align: center;
        font-size: 30px;
        color: $azul-claro;
        text-decoration: none;

        &:hover {
            color: $amarelo;
        }
    }
}