@import '../scss/colors.scss';
@import '../scss/font.scss';

#castandcrew {
    margin-top: 14vw;
    
    .castandcrew__title {
        font-size: 0.94vw;
        color: $azul-claro;
        font-weight: 700;
        margin-bottom: 2vw;
        text-transform: lowercase;
    }

    .castandcrew__title {
        font-size: 1vw;
        color: $azul-claro;
        font-weight: 700;
        margin-bottom: 0.5vw;
        text-transform: lowercase;
    }

    .castandcrew__search {
        width: 100%;
        border-radius: 1.87vw;
        border: none;
        outline: none;
        margin-bottom: 2vw;
        text-align: center;
    }
    
    .castandcrew__list {
        list-style: none;
        padding-left: 0;
        height: 15vw;
        overflow-y: auto;
        padding-right: 2vw;

        .castandcrew__list__person {
            display: block;
            font-size: 0.73vw;
            color: $amarelo;
            border: 0.1vw solid $azul-escuro;
            padding: 0.5vw;
            font-weight: 700;
            margin-bottom: 1vw;
            border-radius: 1.87vw;
            cursor: pointer;
            text-align: center;
            user-select: none;
            background-size: cover;
            background-position-y: 30%;
            height: 8vw;
            clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);

            .castandcrew__list__person__img {
                display: block;
                width: 50%;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }

    
    .castandcrew__list::-webkit-scrollbar-track {
        border: 0.1vw solid $amarelo;
        border-radius: 1.87vw;
    }
       
    .castandcrew__list::-webkit-scrollbar-thumb {
        background-color: $azul-claro;
        border-radius: 1.87vw;
        outline: none;
    }

    .castandcrew__list::-webkit-scrollbar {
        width: 1vw;
    }

}