@import '../scss/colors.scss';
@import '../scss/font.scss';

#countries {
    margin-top: 14vw;
    
    .countries__title {
        font-size: 18px;
        color: $azul-claro;
        font-weight: 700;
        margin-bottom: 2vw;
        text-transform: lowercase;
    }

    .countries__label {
        display: block;
        font-size: 20px;
        color: $amarelo;
        font-weight: 700;
        margin-bottom: 0.5vw;
        text-transform: lowercase;
        width: 80%;
        margin-right: auto;
    }

    .countries__input {
        display: block;
        width: 80%;
        border-radius: 36px;
        border: none;
        outline: none;
        margin-bottom: 2vw;
        text-align: center;
        margin-right: auto;
    }
    
    .countries__list {
        list-style: none;
        padding-left: 0;
        height: 15vw;
        overflow-y: auto;
        padding-right: 2vw;

        .countries__list__country {
            display: block;
            font-size: 14px;
            color: $amarelo;
            border: 2px solid $amarelo;
            padding: 0.5vw;
            margin-bottom: 1vw;
            border-radius: 12px;
            cursor: pointer;
            text-align: center;
            user-select: none;
            clip-path: polygon(2% 0, 100% 0, 98% 100%, 0% 100%);
        }
    }

    
    .countries__list::-webkit-scrollbar-track {
        border: 2px solid $amarelo;
        border-radius: 36px;
    }
       
    .countries__list::-webkit-scrollbar-thumb {
        background-color: $azul-claro;
        border-radius: 36px;
        outline: none;
    }

    .countries__list::-webkit-scrollbar {
        width: 1vw;
    }

}