$flaticon_lens-font: "flaticon_lens";

@font-face {
    font-family: $flaticon_lens-font;
    src: url("./flaticon_lens.ttf?0c590f6d0c170f9c87e64fca8b3b64d8") format("truetype"),
url("./flaticon_lens.woff?0c590f6d0c170f9c87e64fca8b3b64d8") format("woff"),
url("./flaticon_lens.woff2?0c590f6d0c170f9c87e64fca8b3b64d8") format("woff2"),
url("./flaticon_lens.eot?0c590f6d0c170f9c87e64fca8b3b64d8#iefix") format("embedded-opentype"),
url("./flaticon_lens.svg?0c590f6d0c170f9c87e64fca8b3b64d8#flaticon_lens") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon_lens !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon_lens-map: (
    "pyramid": "\f101",
    "eye": "\f102",
    "film": "\f103",
    "film-1": "\f104",
    "clapperboard": "\f105",
    "television": "\f106",
    "remove": "\f107",
);

.flaticon-pyramid:before {
    content: map-get($flaticon_lens-map, "pyramid");
}
.flaticon-eye:before {
    content: map-get($flaticon_lens-map, "eye");
}
.flaticon-film:before {
    content: map-get($flaticon_lens-map, "film");
}
.flaticon-film-1:before {
    content: map-get($flaticon_lens-map, "film-1");
}
.flaticon-clapperboard:before {
    content: map-get($flaticon_lens-map, "clapperboard");
}
.flaticon-television:before {
    content: map-get($flaticon_lens-map, "television");
}
.flaticon-remove:before {
    content: map-get($flaticon_lens-map, "remove");
}
