@import '../scss/colors.scss';
@import '../scss/font.scss';

.menu {
    padding-top: 2vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-bottom: 2vw;
    background-color: $azul-escuro;
    position: sticky;
    top: 0;
    z-index: 99;

    .menu__logo {
        width: 50%;
    }

    .menu__link {
        display: block;
        margin-top: 1vw;
        font-size: 1vw;
        color: $azul-claro;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        user-select: none;

        &:hover {
            color: $amarelo;
        }
    }

    .menu__button {
        margin-top: 1vw;
        font-size: 1vw;
        color: $azul-claro;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        border: none;
        outline: none;
        background: none;

        &:hover {
            color: $amarelo;
        }
    }
    
    .active {
        color: $amarelo;
    }

    .credit {
        display: block;
        font-size: 0.83vw;
        font-weight: 400;
        text-align: center;
        color: $azul-claro;
        text-decoration: none;
        border-radius: 1.87vw;
        font-weight: 700;
        padding-top: 1vw;

        &:hover {
            color: $amarelo;
            text-decoration: none;
        }
        
    }
}
