@import '../scss/colors.scss';
@import '../scss/font.scss';

#filterselect {
    .filterselect__add {
        .filterselect__add__title {
            font-size: 1.25vw;
            color: $amarelo;
            font-weight: 700;
            margin-bottom: 2vw;
            text-transform: lowercase;
        }
    }
}