@import '../scss/colors.scss';
@import '../scss/font.scss';

#next {

    .next__add {
        .next__add__title {
            font-size: 24px;
            color: $amarelo;
            font-weight: 700;
            margin-bottom: 2vw;
            text-transform: lowercase;
        }
    }

    .next__lens {
        display: block;
        position: relative;
        border: 2px solid $azul-claro;
        background-color: $azul-claro;
        padding: 0.5vw;
        border-radius: 36px;
        text-align: center;
        margin-bottom: 2vw;
        clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);

        .next__lens__remove {
            position: absolute;
            top: 2.5%;
            right: 5%;
            color: $azul-escuro;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
            z-index: 99;
        }

        .next__lens__title {
            position: absolute;
            top: 2.5%;
            left: 5%;
            font-size: 30px;
            color: $azul-escuro;
            font-weight: 700;
            text-transform: lowercase;
            text-align: left;
        }

        .next__lens__description {
            font-size: 14px;
            color: $azul-escuro;
            font-weight: 700;
            margin-bottom: 0.5vw;
            text-transform: lowercase;
            margin-top: 1vw;
        }

        .next__lens__length {
            display: block;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 1vw;
            background-color: $azul-escuro;
            border: none;
            outline: none;
            padding: 0.5vw;
            border-radius: 36px;
            font-size: 18px;
            font-weight: 700;
            color: $azul-claro;
            clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
        }
    }

    .next__button {
        display: block;
        width: 100%;
        background-color: $amarelo;
        border: none;
        outline: none;
        padding: 0.5vw;
        border-radius: 36px;
        font-size: 20px;
        font-weight: 700;
        color: $azul-escuro;
        margin-bottom: 0;
        clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);

        &:hover {
            background-color: $azul-claro;
        }
    }
}