@import '../scss/colors.scss';
@import '../scss/font.scss';

#studiolist{
    background-color: $azul-escuro;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.studiolist {

    .studiolist__selection {

        .studiolist__selection__filter {
            position: sticky;
            top: 12vw;

            .studiolist__selection__filter__label {
                display: block;
                font-size: 1vw;
                color: $amarelo;
                font-weight: 700;
                margin-bottom: 0.5vw;
                text-transform: lowercase;
                width: 80%;
                margin-right: auto;
            }
    
            .studiolist__selection__filter__input {
                display: block;
                width: 80%;
                border-radius: 1.87vw;
                border: none;
                outline: none;
                margin-bottom: 2vw;
                text-align: center;
                margin-right: auto;
            }
    
            .studiolist__selection__filter__sort {
                display: block;
                width: 100%;
                background-color: $amarelo;
                border: none;
                outline: none;
                padding: 0.5vw;
                border-radius: 0.62vw;
                font-size: 0.83vw;
                font-weight: 700;
                color: $azul-escuro;
                margin-bottom: 1vw;
                clip-path: polygon(4% 0, 100% 0, 96% 100%, 0% 100%);
        
                &:hover {
                    background-color: $azul-claro;
                }
            }
        }
    
    }
}