@import '../scss/colors.scss';
@import '../scss/font.scss';

#lens {
    padding-left: 2vw;
    padding-right: 4vw;

    .lens__add {
        .lens__add__title {
            font-size: 24px;
            color: $amarelo;
            font-weight: 700;
            margin-bottom: 2vw;
            text-transform: lowercase;
        }
    }

    .lens__fail {
        font-size: 20px;
        color: $azul-claro;
        font-weight: 700;
        margin-bottom: 2vw;
        text-transform: lowercase;
        font-style: italic;
    }

    .lens__filter {
        display: block;
        position: relative;
        border: 2px solid $amarelo;
        padding: 0.5vw;
        border-radius: 36px;
        text-align: center;
        margin-bottom: 1vw;

        .lens__filter__remove {
            position: absolute;
            top: -15%;
            right: 0%;
            color: $amarelo;
            font-weight: 700;
            font-size: 24px;
            cursor: pointer;
            z-index: 99;
        }


        .lens__filter__title {
            font-size: 18px;
            color: $amarelo;
            font-weight: 700;
            margin-bottom: 0.5vw;
            text-transform: lowercase;
        }

        .lens__filter__content {
            font-size: 16px;
            color: $azul-claro;
            font-weight: 400;
            text-transform: lowercase;
            margin-bottom: 0;
        }

        .lens__filter__content--genre {
            font-size: 16px;
            color: $azul-claro;
            font-weight: 400;
            text-transform: lowercase;
            margin-bottom: 0.5vw;

            &:last-of-type {
                margin-bottom: 0;
            }
        }

    }

    .lens__button {
        display: block;
        width: 100%;
        background-color: $amarelo;
        border: none;
        outline: none;
        padding: 0.5vw;
        border-radius: 36px;
        font-size: 20px;
        font-weight: 700;
        color: $azul-escuro;
        margin-bottom: 0;

        &:hover {
            background-color: $azul-claro;
        }

    }
}