@import '../scss/colors.scss';
@import '../scss/font.scss';

#studio{
    background-color: $azul-escuro;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.studio {
    min-height: 100vh;

    .studio__create {
        padding-left: 10vw;
        padding-right: 10vw;

        .studio__create__section {
            margin-top: 10vw;
            margin-bottom: 4vw;

        }
    }
}