@import '../scss/colors.scss';
@import '../scss/font.scss';

#studiolist{
    background-color: $azul-escuro;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.studiolist {

    .studiolist__selection {
        .studiolist__selection__info {
            display: block;
            padding: 2vw;
            border-radius: 36px;
            height: 50vh;
            margin-top: 0.5vw;
            background-size: cover;
            overflow-y: auto;
            padding-right: 2vw;
            margin-right: 1vw;
            background-position-x: 50%;


            .studiolist__selection__info__title {
                text-align: center;
                font-size: 20px;
                font-weight: 700;
                color: $amarelo;
                margin-bottom: 0.5vw;
            }

            
            .studiolist__selection__info__subtitle {
                text-align: center;
                font-size: 16px;
                font-weight: 400;
                color: $amarelo;
                font-style: italic;
            }

            .studiolist__selection__info__category {
                text-align: center;
                margin-bottom: 1vw;
                margin-top: 2vw;
                padding-top: 2vw;
                font-size: 16px;
                font-weight: 700;
                color: $amarelo;
                font-style: italic;
                border-top: 2px solid $azul-claro;
            }

            .studiolist__selection__info__item {
                text-align: center;
                margin-bottom: 1vw;
                font-size: 16px;
                font-weight: 700;
                color: $azul-claro;
            }

            .studiolist__selection__info__gallery {

                .studiolist__selection__info__gallery__img {
                    display: inline-block;
                    width: 100%;
                    border-radius: 12px;
                    margin-top: 1vw;
                }
            }

            .overview {
                text-align: justify;
                line-height: 2;
                margin-top: 2vw;
            }

        }

        .studiolist__selection__info::-webkit-scrollbar-track {
            border: none;
        }
           
        .studiolist__selection__info::-webkit-scrollbar-thumb {
            background-color: $azul-claro;
            border-radius: 36px;
            outline: none;
        }
    
        .studiolist__selection__info::-webkit-scrollbar {
            width: 1vw;
        }

    }
}